<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">My TODO list</h4>
                        <div class="add-items d-flex"> <input type="text" class="form-control todo-list-input"
                                placeholder="What do you need to do today?"> <button onclick="addTask()"
                                class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <li *ngFor="let task of tasks; index as i">
                                    <!-- <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox">
                        {{i}} <i class="input-helper"></i></label> </div> -->
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox"
                                                type="checkbox">
                                            {{task.title}} <i class="input-helper"></i></label> </div>
                                    <!-- <div><button
                                            class="add btn btn-primary font-weight-bold todo-list-add-btn">Delete</button>
                                    </div> -->
                                    <i class=" remove mdi mdi-close-circle-outline"></i>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>